<html>
    <head>
        <title>Login Page</title>
        <link rel="stylesheet" href="../static/style.css"/>
    </head>
    <body>
        <h1>Login your account!</h1>
        <text>Username:</text><input type ="Username"></input><br>
        <text>Password:</text><input type ="Password"></input><br>
        <button>Login</button>
        <br><br>
        <text>No account? Register now.</text>
        <a href="registration.html"><button>Click to Register</button> </a>
        
    </body>
</html>
