<html>
    <head>
        <title>Registration Page</title>
        <link href="../static/style.css" rel="stylesheet"/>
    </head>
    <body>
        <h1>Register an account!</h1>
        <text>First Name: </text><input type ="text"></input><br>
        <text>Last Name:  </text><input type ="text"></input><br>
        <text>Username    </text><input type ="text"></input><br>
        <text>Password:   </text><input type ="password"></input><br>
        <a href="login.html"><button>Register</button> </a>
    </body>
</html>